<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppHotel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Principale</display-name>
    <servlet-name>Principale</servlet-name>
    <servlet-class>tn.essat.controller.Principale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Principale</servlet-name>
    <url-pattern>/Principale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verif</display-name>
    <servlet-name>Verif</servlet-name>
    <servlet-class>tn.essat.controller.Verif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verif</servlet-name>
    <url-pattern>/Verif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeCambres</display-name>
    <servlet-name>ChargeCambres</servlet-name>
    <servlet-class>tn.essat.controller.ChargeCambres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeCambres</servlet-name>
    <url-pattern>/ChargeCambres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Charges1</display-name>
    <servlet-name>Charges1</servlet-name>
    <servlet-class>tn.essat.controller.Charges1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charges1</servlet-name>
    <url-pattern>/Charges1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dec</display-name>
    <servlet-name>Dec</servlet-name>
    <servlet-class>tn.essat.controller.Dec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dec</servlet-name>
    <url-pattern>/Dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeAddChambre</display-name>
    <servlet-name>ChargeAddChambre</servlet-name>
    <servlet-class>tn.essat.controller.ChargeAddChambre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeAddChambre</servlet-name>
    <url-pattern>/ChargeAddChambre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCh</display-name>
    <servlet-name>AddCh</servlet-name>
    <servlet-class>tn.essat.controller.AddCh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCh</servlet-name>
    <url-pattern>/AddCh</url-pattern>
  </servlet-mapping>
</web-app>